body {
  margin: 0%;
  height: 100%;
  background: #DBDBDB;
  user-select: none;
}

.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  text-shadow: 0px 0px 3px;
  font-size: 15px;
  text-decoration: underline;
  font-family: 'VT323', monospace;
  display: flex;
  flex: 0 1 40px;
  justify-content: center;
  align-items: center;
  background: #9bbc0f;
  color: #0f380f;
  padding: 10px;
  box-shadow: inset 0px 1px 6px 2px, 0px -1px 10px 1px;
}

.calculatorContainer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.calculatorBody {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background: #dad6d7;
  width: 310px;
  border-radius: 8px 8px 35px 8px;
  box-shadow: inset 0px 1px 12px 1px, 0px 5px 30px 3px;
  padding: 20px 15px;
}

.bevel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px 7px 25px 7px;
  background: #717286;
  padding: 10px 18px 18px;
  box-shadow: inset 0px 1px 5px 1px, 0px -1px 2px 1px;
}
.screen {
  align-self: center;
  margin-top: 10px;
  height: 200px;
  width: 200px;
  background: #9bbc0f;
  color: #0f380f;
  border-radius: 4px;
  border: 2px inset;
  box-shadow: inset 0px 1px 6px 1px, 0px 0px 3px 1px black ;
}

.buttonContainer {
display: flex;
justify-content: center;
box-shadow: inset 0px 1px 7px 1px , 0px 1px 3px 1px;
border-radius: 7px 7px 25px 7px;
flex-wrap: wrap;
margin: 10px 25px 0px;
}

.button{
  font-family: 'Koulen', cursive;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 30px;
  text-shadow: 0px 0px 2px;
  height: 45px;
  width: 45px;
  background: #ad1035;
  border-radius: 50%;
  box-shadow: inset 0px -1px 6px 1px, 0px 1px 5px 0px;
  margin: 6px;
}

.button:active {
  transform: scale(0.977);
  font-size: 29px;
  box-shadow: inset 0px -1px 5px 2px, 0px 0px 3px 1px;
}

.clear{
  cursor: pointer;
  border: none;
  background: #717286;
  border-radius: 10px;
  width: 40px;
  height: 15px;
  box-shadow: inset 0px -1px 6px 1px, 0px 1px 2px 1px;
  margin-top: 15px;
}

.clear:active{
  transform: scale(0.98);
  box-shadow: inset 0px 1px 5px 2px, 0px 1px 1px 1px;
}

.clearText {
  font-size: 13px;
  font-weight: 800;
  margin-top: 2px;
  color: darkblue;
  text-shadow: 0px 0px 2px;
}

.answer {
  font-family: 'VT323', monospace;
  font-size: 40px;
  text-shadow: 0px 0px 3px;
}

.decorationContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.topLine{
  box-shadow: 0px 0px 2px;
  border-radius: 2px;
  background: #ad1035;
  height: 3px;
}

.bottomLine{
  box-shadow: 0px 0px 2px;
  border-radius: 2px;
  background: darkblue;
  height: 3px;
}
